@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}

@layer components {
  .main-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
  }
  .container {
    max-width: 1400px;
  }
  .select {
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}

/* custom input */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.font-weight {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

span.swiper-pagination-bullet {
  @apply w-2 h-2 rounded-3xl size-7;
}

span.swiper-pagination-bullet-active {
  @apply !bg-Brand w-2;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: -10px !important;
}

.protect-img {
  pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #9b9797 !important; /* Red color */
  --swiper-navigation-size: 24px; /* Adjust size */
}
