@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}

@layer components {
  .main-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
  }
  .container {
    max-width: 1400px;
  }
  .select {
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
}

/* custom input */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.font-weight {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

span.swiper-pagination-bullet {
  @apply w-2 h-2 rounded-3xl size-7;
}

span.swiper-pagination-bullet-active {
  @apply !bg-Brand w-2;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: -10px !important;
}

.protect-img {
  pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #9b9797 !important; /* Red color */
  --swiper-navigation-size: 24px; /* Adjust size */
}

/* List Style */
ul.spec-list {
  list-style-type: disc; /* Adds bullet point */
  padding-left: 1rem; /* Creates space for bullet */
}

/* Grid System fo product */

.grid-custom {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* default = 1 col */
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-custom {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* medium = 2 cols */
  }
}

@media (min-width: 1024px) {
  .grid-custom {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* large = 4 cols */
  }
}

/* Grid system for cart */
.grid-custom-cart {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* default = 1 col */
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-custom-cart {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* medium = 2 cols */
  }
}

@media (min-width: 1024px) {
  .grid-custom-cart {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* large = 4 cols */
  }
}
@media (min-width: 1280px) {
  .grid-custom-cart {
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* large = 4 cols */
  }
}

/* Grid system for Blog */
.grid-custom-blog {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr)); /* default = 1 col */
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-custom-blog {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* medium = 2 cols */
  }
}

@media (min-width: 1024px) {
  .grid-custom-blog {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* large = 4 cols */
  }
}
@media (min-width: 1280px) {
  .grid-custom-blog {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* large = 4 cols */
  }
}

/* CSS customizations for scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
/* لتغيير الطول (الارتفاع) للـ scrollbar الأفقي */
::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #ef3b24;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border-left: 1px solid #9c9c9c;
  border-right: 1px solid #9c9c9c;
}

.tracking-order-input {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Shadow from all directions */
}

.select-text {
  user-select: text !important;
}
